#l-logo{
    margin-left:10px;
}
#r-logo{
    height: 80px;
    width: 450px;
    float: right;
}
.inner{
     height: auto;
    width: 100%;

}

#slider{
    background-image: url('assets/img/back.jpg');
   background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
   
}
#slider{
    background-color:rgba(0,0,0,0.76);
}
.l{
    height: 50px;
    width: 50px;
}



/* 
  .st{
      border: 2px solid #007c88;
      margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  } */